body
{
    color: deeppink;
    text-align: center;
    font-family: "Arial";
}
.pp {
    margin-left: 40px;
    color:crimson;
    font-size: medium;
    float:left ;
    text-align: left;
    width: 70%;
}