body
{
    color: deeppink;
    text-align: center;
    font-family: "Arial";
}
#headerx {
    color:red;
    font-family:Verdana;
    font-size:xx-large;
    text-align: left;
    margin-left: 200px;
    margin-top: 30px;
    background-color: coral;
}